@import "tailwindcss";

.animate__animated.animate__bounce
{
	--animate-duration: 2s;
	--animate-delay: 0s;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"]
{
	appearance: textfield;
	-moz-appearance: textfield;
}
